.App {
  text-align: center;
}

.navs {
  margin-left: 5px;
}

#moviesRow {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
#username{
  width: 95%;
}
.moviesRowItem {
  margin: 0.75rem;
}
#moviesSection {
  display: grid;
  grid-template-columns: auto auto auto auto;
  overflow-x: auto;
}

.page_buttons {
  display: flex;
  justify-content: space-between;
}
.MuiCardActions-spacing{
  margin-left: 30%;
}
/* .StripeCheckout{
  margin-left: 70%;
 
} */
.warning{
  margin-top: 1%;
  color: red;
}
@media screen and (max-width: 1024px) {
  #moviesSection {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 710px) {
  #moviesSection {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 470px) {
  #moviesSection {
    grid-template-columns: auto;
  }
}

.movieItemDataRoot {
  overflow: hidden;
  height: 80vh;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
