.App {
  text-align: center;
}

.navs {
  margin-left: 5px;
}

#moviesRow {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.moviesRowItem {
  margin: 0.75rem;
}
#moviesSection {
  display: grid;
  grid-template-columns: auto auto auto auto;
  overflow-x: auto;
}

@media screen and (max-width:1024px) {
  #moviesSection {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width:710px) {
  #moviesSection {
    grid-template-columns: auto  auto;
  }
}
@media screen and (max-width:470px) {
  #moviesSection {
    grid-template-columns:   auto;
  }
}